* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.center {
    height: 100vh;
    width: 100%;

    display: grid;
    place-items: center;
}

.calculator-container {
    height: 700px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    border: 0.2rem solid rgb(160, 160, 160);
    border-radius: 1rem;

    background: rgb(206, 206, 206);
}

.input-container {
    height: 5rem;
    width: 85%;

    border: 0.2rem solid rgb(160, 160, 160);

    font-size: 2.5rem;
    text-align: center;

    pointer-events: none;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.input-btn {
    height: 100px;
    width: 100px;

    border: 0.2rem solid rgb(160, 160, 160);
    border-radius: 1rem;

    background: rgb(165, 165, 165);

    font-size: 1.5rem;
    font-weight: bold;

    cursor: pointer;
}

.input-btn:hover {
    filter: brightness(95%);
}

.input-btn:active {
    filter: brightness(90%);
}