* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: lightcyan;
}

.calculator-container {
    height: 600px;
    width: 400px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-container {
    height: 100px;
    width: 350px;
}

.current-op {
    position: absolute;
    padding: 20px;

    font-size: 20px;
    font-weight: bold;
}

input {
    height: 100%;
    width: 100%;
    padding: 1rem;

    font-size: 35px;
    font-weight: bold;
    text-align: right;

    pointer-events: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

button, input {
    background: lightblue;
    border: none;
    border-radius: 2rem;
}

button {
    height: 80px;
    width: 80px;

    font-size: 20px;

    cursor: pointer;
}

button:hover {
    filter: brightness(95%);
}

button:active {
    filter: brightness(90%);
}

.zero {
    width: 170px;
}